<div class="d-sm-none d-flex justify-content-around align-items-center container-fluid fixed-bottom bg-light"
    style="height: 80px;">

    <div class="text-center mt-2">
      <a style="width:24px" href="{% url 'home' %}"><i class="fa-solid fa-house text-secondary"></i></a>
      <p class="text-muted" style="font-size:12px">Home</p>
    </div>

    <div class="text-center mt-2">
      <a href="{% url 'menu' %}"><i class="fa-solid fa-gear fs-5 text-secondary"></i></a>
      <p class="text-muted" style="font-size:12px">Setting</p>
    </div>
  </div>