{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

{% include 'sidebar.html' %}
<div class="col-sm-10 offset-sm-2 col-12" >
  <div class="container d-flex justify-content-center" style="margin-top: 4rem; padding-top:2rem;">           
        <div class="card text-center col-lg-8 col-10">
            <div class="card-header text-danger">
              Delete my account
            </div>
            <div class="card-body">
              <h5 class="card-title mb-3">Are you sure delete your account ?</h5>
              <form action="" method="POST" class="col-lg-8 offset-lg-2 col-12    ">
                {% csrf_token %}
                <input class="form-control p-2 mb-4" type="password" placeholder="Enter account password" name="password">
                {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
                <p class="text-muted" style="font-size: 12px;">Your account will be deleted along with all passwords permanently.</p>
                <button class="btn btn-danger col-12" type="submit">CONFIRM</button>
              </form>

            
            </div>
     
    </div>
  </div>
  
{% include 'footer.html' %}
{% include 'footer-navbar.html' %}
{% endblock %}