<div class="text-center mb-3">
  <form class="rounded col-10 offset-1 d-flex rounded">
    <input
      class="form-control me-2 col-8"
      type="search"
      name="q"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
</div>

{% for key in keys %}

<div class="container d-flex flex-row align-items-center mb-3">
  <div class="col-3">
    <img
      class="img ps-2 pt-1"
      src="https://www.google.com/s2/favicons?sz=32&domain_url={{key.app_name}}.com"
      alt=""
    />
  </div>
  <div class="col-8">
    <div class="fs-5 text-capitalize text-dark" style="font-weight: 500">
      <a class="text-dark" href="{% url 'password' key.id %}"
        >{{key.app_name}}</a
      >
    </div>
    <div class="small text-muted">{{key.app_username}}</div>
  </div>
  <div class="col-1"
      data-bs-toggle="dropdown"
      id="dropdownMenu2"
      role="button">
    <i
      class="fa-solid fa-pen-to-square text-muted"
      data-bs-toggle="dropdown"
      id="dropdownMenu2"
      role="button"     
    ></i>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
      <!-- <a href="{% url 'update-pass' key.id %}"><p class="dropdown-item">Edit</p></a> -->
      <li>
        <button
          class="btn dropdown-item"
          style="color: red"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#mobile"
        >
          Delete
        </button>
      </li>
    </ul>
  </div>
</div>
<div
  class="modal fade"
  id="mobile"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Confirm Delete '{{key.app_name}}'
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete ?</div>
      <form action="{% url 'delete-pass' key.id %}" method="POST">
        {% csrf_token %}
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="sumbit" class="btn btn-outline-danger">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endfor %}
