{% extends 'base.html' %}
{% block content %} 

<div class="container-fluid px-2" style="margin-bottom: 3rem;">
    <div class="d-flex justify-content-between mt-4 mx-4 fs-5" >
        <div><a href="{{request.META.HTTP_REFERER}}"><i class="fa-solid fa-arrow-left text-muted"></i></a></div>
        <div><a href="{% url 'update-pass' key.id %}"><i class="fa-solid fa-pen text-muted" style="font-size: 14px;"></i></a></div>

    </div>
    <div class=" d-flex flex-column align-items-center">
        <div class="mt-5 ">
            <img class="img ps- pt-1" src="https://www.google.com/s2/favicons?sz=64&domain_url={{key.app_name}}.com" alt="">
        </div>
        <div class="fs-3 pb-3 mb-3 pt-3" style="font-weight: 500;">{{key.app_name}}</div>
    </div>

    <div class="card mt-3">

        <div class="copy" onclick="CopyToClipboard('usernametocopy')" class="d-flex flex-column p-3">
            <div class="text-muted mb-1">Email or Username</div>
            <div id="usernametocopy" >{{key.app_username}}</div>
        </div>

        <div class="copy" onclick="CopyToClipboard('keytocopy')" class="d-flex flex-column p-3">
            <div class="text-muted mb-1"  >Password</div>
            <div  id="keytocopy">{{key.app_password}}</div>
        </div>
    </div>
    <div class="mt-2 ms-2 text-muted" style="font-size: 12px;">Tap to copy</div>
</div>

<script>
    function CopyToClipboard(id)
    {
    var r = document.createRange();
    r.selectNode(document.getElementById(id));
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(r);
    document.execCommand('copy');
    window.getSelection().removeAllRanges();
    }
    </script>
{% include 'footer.html' %}
{% endblock %}