{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

{% include 'sidebar.html' %}
<div class="col-sm-10 offset-sm-2 col-10 offset-1" >
  <div class="container justify-content-between" style="margin-top: 4rem; padding-top:2rem;">
    
    <form action="" class="col-sm-8 offset-sm-2 col-12" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formFile" class="text-muted form-label">Profile Photo  </label>
            <input class="form-control" name="avatar" type="file" id="formFile">
          </div>
          <div class="form-group mb-3 mt-2">
            <label for="formFile" class="text-muted form-label">Email</label>
            <input
              value="{{user.email}}"
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group mb-3">
            <label for="formFile" class="text-muted form-label">Full name</label>
            <input
              value="{{user.name}}"
              type="text"
              class="form-control"
              id="firstName"
              name="name"
              placeholder="Full Name"
            />
          </div>
          <div class="form-group mb-3">
            <label for="formFile" class="text-muted form-label">Username</label>
            <input
              value="{{user.username}}"
              type="text"
              class="form-control"
              id="firstName"
              name="username"
              placeholder="Username"
            />
          </div>
          <input class="btn col-12 col-sm-4 mt-1 fg-white gradient-custom" type="submit" value="Update">
          <a href="{{request.META.HTTP_REFERER}}"><button type="button" class="btn col-12 col-sm-4 mt-1 btn-outline-danger">Cancel</button></a>
        </form>
    </div>
  </div>
  
{% include 'footer.html' %}
{% include 'footer-navbar.html' %}
{% endblock %}